:root {
    --color-light: #ffffff;
    --color-dark: #000000;
    --color-pink: #dc143c;    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-light);
    font-weight: 600;
    transition: color .5s;
}

a:hover {
    color: var(--color-pink);
}


.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, rgba(0, 0, 0, .8), rgba(0, 0, 0, .3)),
    url(../images/pexels-felix-mittermeier-957002.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;    
}

.header-page {
    width: 100%;
    height: 100px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header-menu ul {
    display: flex;
    gap: 20px;
}

.container h1 {
    color: var(--color-light);
}

/*********************** hero ***********************/
.hero {
    width: 100%;
    height: calc(100vh - 100px);
    color: var(--color-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.hero h2 {
    font-size: clamp(22px, 4vw, 45px);    
}

.hero h3 {
    font-size: clamp(20px, 3vw, 35px);
}

.btn {
    border: 3px solid var(--color-pink);
    background-color: var(--color-pink);
    padding: 5px 25px;
    border-radius: 70px;
    transition: background-color .7s;
    font-weight: 700;
    letter-spacing: 1px;
}

.btn:hover {
    background-color: transparent;
}

.cards {
    width: 90%;
    height: 100vh;
    margin: 60px auto;
    text-align: center;
    
    & h3 {
        font-size: clamp(20px, 3vw, 35px);
        margin: 50px 0;
    }
    
    .cards-list{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;
        
        & .card-item {            
            width: 40%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            padding:30px;
            box-shadow: 1px 1px 30px #ccc;
            border-radius: 7px;
            transition: scale .7s;

            &:hover{
                scale: 1.1;
            }          
            
            & img {
                width: 80%;
                border-radius: 7px;
            }

            & h4 {
                font-size: 20px;
            }

            & p {
                font-size: 14px;
                width: 80%;
                text-wrap: balance;
            }
        }
    }
}

